name: Disparo Monetizado Telegram

on:
  repository_dispatch:
    types: [iniciar_disparo]
  workflow_dispatch:
    inputs:
      video_url:
        required: true
        type: string
      caption_text:
        required: false
        type: string
      button_link:
        required: true
        type: string

jobs:
  publicar-no-grupo:
    runs-on: ubuntu-latest
    steps:
      - name: Baixar código
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Instalar FFmpeg
        run: sudo apt-get update && sudo apt-get install -y ffmpeg

      - name: Instalar Dependências
        run: pip install requests beautifulsoup4 cloudscraper yt-dlp

      - name: Executar Sniper Engine
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
          TARGET_URL: ${{ github.event.client_payload.video_url || inputs.video_url }}
          CUSTOM_CAPTION: ${{ github.event.client_payload.caption_text || inputs.caption_text }}
          # ESTA LINHA ABAIXO É A QUE ESTAVA A FALTAR:
          BUTTON_LINK: ${{ github.event.client_payload.button_link || inputs.button_link }}
        run: python automation.py
